<div class="container">
	<h1>{{t "title"}}</h1>
	<p>{{t "subtitle"}}</p>

	<div class="features">
		<h2>{{t "features.title"}}</h2>
		<ul>
			<li>{{t "features.fast"}}</li>
			<li>{{t "features.static"}}</li>
			<li>{{t "features.multilang"}}</li>
		</ul>
	</div>
</div>